<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-G3G7OsJCbOk1USkOY4RfeX1z27YaWrZ1YuaQ5tbuawed9IoreRDpWpTkZLXQfPm3" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    {% block head %}{% endblock %}

    <title>Welcome to PL Duncan Trucking</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">PL Duncan Trucking</a>
            </div>
                <!-- displays navbar -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('index') }}">Truck Locations</a></li>
                    <li><a href="{{ url_for('maps') }}">Map</a></li>
                    <li><a href="{{ url_for('index') }}">History</a></li>
                </ul>
            <!-- displays login or log out on right side of navbar-->
                {% if not session.user_id %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                </ul>
                {% elif session.user_id %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('index') }}">Edit map</a></li>
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>